<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="/fragments/header::header_user">
</head>
<body>
<div th:replace="/fragments/header::header_nav" class="header_top"></div>

<div class="container">
    <div class="col-12 diary-detail mt-2">
        <form method="POST" th:action="@{/diary/save_update}" class="col-md-4 offset-md-4 col-12 form-group diary-form d-flex flex-column" th:object="${diary}">
            <input hidden name="id" th:value="${diary.id}" />
            <input type="text" name="title" th:value="${diary.title}" placeholder="Title" class="form-control mt-2" />
            <textarea name="content" id="" cols="30" rows="10" placeholder="Content" class="form-control diary-content-details mt-2" th:text="${diary.content}"></textarea>
            <label disabled name="last_edited" th:text="${diary.last_edited}" class="mt-2 text-white">Last edited : 12:12:2022</label>
            <div class="col-12 d-flex flex-row mt-2">
                <div class="col-2 back-form">
                    <a th:href="@{/}" class="back-arrow btn bg-primary text-white">
                        <i class="fa-solid fa-arrow-rotate-left"></i>
                    </a>
                </div>
                <input type="submit" id="submit_edit_diary" name="submit " class="col-8 btn btn-success save_change" value="Save" />
                <div class="col-2 back-form d-flex justify-content-end ">
                    <a th:if="${diary.display == true}" th:href="@{/diary/update_hidden/}+${diary.id}" class="back-arrow btn btn-danger">
                        <i class="fa-solid fa-trash"></i>
                    </a>
                    <a th:if="${diary.display == false}" th:href="@{/diary/update_display/}+${diary.id}" class="back-arrow btn btn-secondary">
                        <i class="fa-solid fa-trash-arrow-up"></i>
                    </a>
                </div>
            </div>
            <p th:if="${(param.updated != null) and (param.updated[0] == 'true')}" class="warning_text text-success">Diary updated</p>
            <p th:if="${(param.updated != null) and (param.updated[0] == 'false')}" class="warning_text text-danger">Diary update failed</p>
        </form>
    </div>
</div>

<div th:replace="/fragments/footer::footer" class="footer"></div>
</body>
</html>